---
import type { HeroProps } from "@types";
type Props = HeroProps;

const { name, specialty, summary, email } = Astro.props;
---

<section class="py-24 md:py-32" id="hero">
  <h1
    class="mb-1.5 font-serif text-7xl font-bold tracking-tightest text-white sm:text-8xl md:mb-0 md:text-9xl"
  >
    {name}
  </h1>
  <p
    class="mb-9 font-serif text-4xl leading-11.5 font-bold tracking-tighter text-primary sm:text-5xl md:text-6xl"
  >
    {specialty}
  </p>
  <p class="mb-16 text-base font-normal text-neutral md:text-lg">
    {summary}
  </p>

  <div class="mb-16 flex flex-wrap gap-4">
    <a
      href="https://www.linkedin.com/in/regina-garcia"
      class="border-neutral-00 inline-flex items-center gap-1.5 rounded-lg border bg-white px-4 py-2 text-sm font-medium text-neutral-900 no-underline transition-colors hover:bg-neutral-100"
    >
      LinkedIn
    </a>

    <a
      href={`mailto:${email}`}
      class="transition-color inline-flex items-center gap-1.5 rounded-lg border border-none bg-primary px-4 py-2 text-sm font-medium text-[#fff] no-underline hover:bg-primary/90"
    >
      Get in touch
    </a>
  </div>
</section>
